@using CapaEN;
@model CapaEN.HabitacionEN

@{
    ViewData["Title"] = "Create";
    List<EstadoEN> estados = ViewBag.Estado as List<EstadoEN>;
    List<TipoHabitacionEN> tipos = ViewBag.Tipo as List<TipoHabitacionEN>;
}

<h1>Crear una nueva habitación</h1>


<hr />
<span class="text-danger">@ViewBag.Error</span>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NumeroDeHabitacion" class="control-label"></label>
                <input asp-for="NumeroDeHabitacion" class="form-control" />
                <span asp-validation-for="NumeroDeHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="IdEstado" class="control-label"></label>
                <select asp-for="IdEstado" class="form-control">
                    <option selected value="">SELECCIONAR</option>
                    @foreach (var item in estados)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="IdTipoDeHabitacion" class="control-label"></label>
                <select asp-for="IdTipoDeHabitacion" class="form-control">
                            <option selected value="">SELECCIONAR</option>
                    @foreach (var item in tipos)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
                <span asp-validation-for="IdTipoDeHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label class="control-label">Seleccione las imágenes</label>
                <input type="file" name="formFiles" multiple required />
            </div>
            <div class="form-group mt-4  align-content-sm-between">
                <input type="submit" value="Guardar" class="btn btn-primary me-3" />
                    <a asp-action="Index" class="btn btn-primary">
                        <i class="fas fa-arrow-left"></i> Regresar
                    </a>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

