@model CapaEN.HabitacionEN

@{
    ViewData["Title"] = "Datils";
}

<h1>Detalle de la habitación</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDeHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDeHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoDeHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeHabitacion.Nombre)
        </dd>
        <div class="col-sm-8 offset-2">
            <div id="myCorousel" class="carousel slide">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.image.Count(); i++)
                    {
                        if (i == 0)
                        {
                            <button type="button" data-bs-target="#myCorousel" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @i+1"></button>
                        }
                        else
                        {
                            <button type="button" data-bs-target="#myCorousel" data-bs-slide-to="@i" aria-label="Slide @i+1"></button>
                        }
                    }
                </div>

                <div class="carousel-inner">
                    @for (int i = 0; i < Model.image.Count(); i++)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active">
                                <img src="@Model.image[i].UrlImage" class="d-block w-100" alt="...">
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src="@Model.image[i].UrlImage" class="d-block w-100" alt="...">
                            </div>
                        }

                    }

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCorousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCorousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
