@model IEnumerable<CapaEN.HabitacionEN>
<div class="row">
    <h1 class="text-center mb-4">Lista de habitaciones</h1>
      
        <div class="col-md-4 m-2">
                <a asp-action="Create" class="btn btn-outline-primary">Nueva categoría</a>
        </div>
</div>
<div class="container mt-3">
    <table class="table table-striped mb-3">
        <thead>
            <tr class="text-center ">
                <th>
                    @Html.DisplayNameFor(model => model.NumeroDeHabitacion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    <!-- Asume que Estado tiene un atributo llamado Nombre -->
                    @Html.DisplayNameFor(model => model.state.Nombre) 
                </th>
                <th>
                    <!-- Asume que TipoDeHabitacion tiene un atributo llamado Nombre -->
                    @Html.DisplayNameFor(model => model.TipoDeHabitacion.Nombre)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center mb-4">
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroDeHabitacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        <!-- Asume que Estado tiene un atributo llamado Nombre -->
                        @Html.DisplayFor(modelItem => item.state.Nombre)
                    </td>
                    <td>
                        <!-- Asume que TipoDeHabitacion tiene un atributo llamado Nombre -->
                        @Html.DisplayFor(modelItem => item.TipoDeHabitacion.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink( "Modificar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info " })
                        @Html.ActionLink("Detalles", "Datils", new { id = item.Id }, new { @class = "btn btn-outline-secondary" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>




